@{
    var modalId = ViewData["Id"]?.ToString() ?? "genericModal";
    var title = ViewData["Title"]?.ToString() ?? "Modal";
    var formId = ViewData["FormId"]?.ToString() ?? "genericForm";
    var formAction = ViewData["FormAction"]?.ToString() ?? "#";
    var formContent = ViewData["FormContent"]?.ToString() ?? "";
    var submitButtonText = ViewData["SubmitButtonText"]?.ToString() ?? "Save";
}

<div class="modal fade" id="@modalId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">@title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="@formId" method="post" action="@formAction" enctype="multipart/form-data">
                <div class="modal-body">
                    @Html.Raw(formContent)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">@submitButtonText</button>
                </div>
            </form>
        </div>
    </div>
</div>
